body {
    background-color: lightyellow;
    font-family: 'Varela';

}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    letter-spacing: 10px;
}

#colorButtons {
    margin-top: 15px;
    font-size: 20px;
    color: black;
    width: 800px;
    text-align: center;
    cursor: pointer;
    
      }
      


form {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 400px;
    text-align: center;

}